CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=y
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_R8A774A1=n
CONFIG_ARCH_R8A774C0=n
CONFIG_ARCH_R8A7795=n
CONFIG_ARCH_R8A7796=n
CONFIG_ARCH_R8A77965=n
CONFIG_ARCH_R8A77970=n
CONFIG_ARCH_R8A77980=n
CONFIG_ARCH_R8A77990=n
CONFIG_ARCH_R8A77995=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_STRATIX10=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZX=n
CONFIG_ARCH_ZYNQMP=n

CONFIG_AHCI_MVEBU=y
CONFIG_ARCH_MVEBU=y
CONFIG_ARMADA_37XX_CLK=y
CONFIG_ARMADA_AP806_SYSCON=y
CONFIG_ARMADA_CP110_SYSCON=y
CONFIG_ARMADA_THERMAL=y
CONFIG_ARM_ARCH_TIMER=y
CONFIG_ARM_GIC_V2M=y
CONFIG_ARM_GIC=y
CONFIG_ARM_PSCI_FW=y
CONFIG_ARM_SBSA_WATCHDOG=y
CONFIG_CPUFREQ_DT_PLATDEV=y
CONFIG_CPUFREQ_DT=y
CONFIG_CRYPTO_DEV_MARVELL_CESA=y
CONFIG_GENERIC_PHY=y
CONFIG_GPIO_MVEBU=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_HW_RANDOM_OMAP=y
CONFIG_I2C_MV64XXX=y
CONFIG_MARVELL_PHY=y
CONFIG_MFD_SYSCON=y
CONFIG_MTD_NAND_MARVELL=y
CONFIG_MVEBU_GICP=y
CONFIG_MVEBU_ICU=y
CONFIG_MVEBU_ODMI=y
CONFIG_MVEBU_PIC=y
CONFIG_MVEBU_SEI=y
CONFIG_MVMDIO=y
CONFIG_MV_XOR_V2=y
CONFIG_NET_VENDOR_MARVELL=y
CONFIG_NOP_USB_XCEIV=y
CONFIG_OF_GPIO=y
CONFIG_OF=y
CONFIG_PCIE_ARMADA_8K=y
CONFIG_PHY_MVEBU_CP110_COMPHY=y
CONFIG_PINCTRL_ARMADA_AP806=y
CONFIG_PINCTRL_ARMADA_CP110=y
CONFIG_PINCTRL_MVEBU=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_RTC_DRV_ARMADA38X=y
CONFIG_SATA_AHCI_PLATFORM=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_DW=y
CONFIG_SERIAL_MVEBU_CONSOLE=y
CONFIG_SERIAL_MVEBU_UART=y
CONFIG_SFP=y
CONFIG_SPI_ORION=y
CONFIG_USB_XHCI_MVEBU=y
